* {
    outline: 1px solid rgb(165, 177, 211)-;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* nav */
nav .top {
    display: flex;
    justify-content: space-between;
    line-height: 90px;
}

nav .top i {
    font-size: 29px;
}

nav .top h1 {
    font-size: 0;
}

nav .top #language {
    padding: 3px 15px;
    outline: none;
    border: none;
}

nav .top #language option {
    box-shadow: none;
}

nav .top .right {
    font-size: 13px;
}

nav .top .right>a {
    margin: 0 15px 0 0;
}

nav .gnb {
    position: relative;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    z-index: 999;
}

nav .gnb>ul {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
}

nav .gnb>ul::after {
    position: absolute;
    top: 61px;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    background: #fff;
    transition: 0.5s;
}

nav .gnb>ul:hover:after {
    height: 420px;
}

.gnb>ul>li a {
    display: block;
}

.gnb>ul>li {
    position: relative;
    flex: 1;
    border-left: 1px solid #f1f1f1;
}

.gnb>ul>li:last-child {
    border-right: 1px solid #f1f1f1;
}

.gnb>ul>li>ul {
    position: absolute;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #fff;
    border-left: 1px solid #f1f1f1;
    line-height: 50px;
    transition: 0.5s;
    z-index: 998;
}

.gnb>ul>li:last-child>ul {
    border-right: 1px solid #f1f1f1;
}

.gnb>ul:hover>li>ul {
    height: 400px;
}

.sitemap {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 3px solid #2162ad;
    padding: 100px 0;
    z-index: 999;
    line-height: 35px;
}

.sitemap>ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.sitemap>ul>li>a {
    display: block;
    font-weight: 700;
}

.sitemap>ul>li>a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #2162ad;
    margin: 5px 0 10px 0;
}

.sitemap i {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #2162ad;
    font-size: 21px;
}

/* main_visual */
.main_visual {
    position: relative;
}

.main_visual figure {
    position: relative;
    height: calc(100vh - 350px);
    overflow: hidden;
}

.main_visual figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/pt-bg01.png);
}

.main_visual .box_menu {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.main_visual .box_menu .container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.main_visual .box_menu .bm {
    flex: 1;
    padding: 50px 0;
    border-radius: 50px 0 0 0;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 3px #333;
}

.box_menu .bm h2 {
    margin: 0 0 20px 0;
    font-size: 21px;
    font-weight: 500;
}

.box_menu .bm p {
    margin: 0 0 30px 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.2;
}

.box_menu .bm02 a,
.box_menu .bm03 a {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #fff;
    margin: 0 10px;
    font-size: 15px;
    transition: 0.5s;
}

.box_menu .bm02 a:hover {
    background: #fff;
    color: #117176;
}

.box_menu .bm03 a:hover {
    background: #fff;
    color: #2162ad;
}

.box_menu .search {
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    background: #fff;
    padding: 3px 0;
    margin: 0 30px;
}

.box_menu .search input {
    margin: 0 15px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
}

.search input:focus::placeholder {
    color: transparent;
}

.box_menu .search a {
    display: block;
    background: #01b9b7;
    padding: 8px 10px;
    margin: 0 3px 0 0;
    font-size: 15px;
}

.box_menu .bm01 {
    background: #01b9b7;
}

.box_menu .bm02 {
    background: #117176;
}

.box_menu .bm03 {
    background: #2162ad;
}

/* special_center */
.special_center {
    padding: 250px 0 100px 0;
}

.special_center .container {
    display: flex;
    gap: 50px;
}

.special_center .left {
    width: 20%;
    margin: auto 0;
}

.special_center .left h2 {
    margin: 0 0 30px 0;
    font-size: 25px;
    font-weight: 700;
}

.special_center .left ul>li a {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
    font-size: 17px;
}

.special_center .left ul>li span {
    position: relative;
    display: inline-block;
    visibility: hidden;
    width: 20px;
    height: 1px;
    border-radius: 1px;
    background: #333;
    margin: 0 0 0 10px;
}

.special_center .left ul>li span::after {
    position: absolute;
    bottom: 3px;
    right: -1px;
    display: inline-block;
    visibility: hidden;
    content: "";
    width: 8px;
    height: 1px;
    transform: rotate(45deg);
    border-radius: 1px;
    background: #333;
}

.special_center .left ul>li.on span {
    visibility: visible;
    width: 55px;
    transition: 0.5s;
}

.special_center .left ul>li.on span::after {
    visibility: visible;
}

.special_center .right {
    width: 80%;
}

.special_center .right .tab_slider .slick-list {
    padding: 60px 0;
}

.special_center .right .tab_slider .box {
    position: relative;
    border-radius: 100px 0 0 0;
    /* background: #2162ad; */
}

.special_center .right .tab_slider .des {
    padding: 60px 0 60px 60px;
    margin: 0 200px 0 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.special_center .tab_content {
    position: relative;
}

.special_center .tab_content>li {
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.special_center .tab_content>li.on {
    height: auto;
    visibility: visible;
}

.special_center .tab_content .des h3 {
    display: inline-block;
    margin: 0 0 10px 0;
    font-size: 29px;
    font-weight: 500;
}

.special_center .tab_content .des h3::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 20px;
    background: #f9f9f9;
    margin: 0 10px 0 20px;
}

.special_center .tab_content .des span {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
}

.special_center .tab_content .des h4 {
    margin: 30px 0 15px 0;
    font-size: 19px;
}

.special_center .tab_content .des p {
    position: relative;
    padding: 0 0 0 15px;
    margin: 0 0 10px 0;
    font-size: 15px;
    font-weight: 300;
}

.special_center .tab_content .des p::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 6px;
    height: 1px;
    background: #fff;
}

.special_center .tab_content .des a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 30px;
    margin: 20px 15px 0 0;
    font-size: 15px;
    font-weight: 400;
    transition: 0.5s;
}

.special_center .tab_content .des a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.special_center .tab_content figure {
    position: absolute;
    bottom: -60px;
    right: -10px;
    width: 470px;
}

.special_center .tab_content .arrow>div {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 5px;
    font-size: 27px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.special_center .tab_content .right_ar {
    margin: 0 0 0 60px;
}

/* health_c */

.health_c {
    padding: 0 0 100px 0;
}

.health_c .bg {
    position: relative;
    background: url(../img/Health_screenings.png)no-repeat fixed center center/cover;
    padding: 200px 0;
    overflow: hidden;
    text-shadow: 1px 1px 1px #333;
    filter: brightness(1.2);
}

.health_c .bg .inner {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    gap: 50px;
    border-radius: 0 0 0 100px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
}

.health_c .bg .inner .title span {
    display: inline-block;
    margin: 0 0 20px 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.2;
}

.health_c .bg .inner .title p {
    margin: 0 0 30px 0;
    font-size: 19px;
}

.health_c .bg .inner .box {
    position: relative;
    border: 1px solid #fff;
    padding: 20px 60px;
}

.health_c .bg .inner .box::before {
    position: absolute;
    top: 30px;
    left: -30px;
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background: #117176;
    opacity: 0.6;
}

.health_c .bg .inner .box h3 {
    font-size: 17px;
}

.health_c .bg .inner .box h3::after {
    display: block;
    content: "";
    width: 110%;
    height: 2px;
    background: #fff;
    margin: 10px 0 15px 0;
}

.health_c .bg .inner .box p {
    margin: 0 0 10px 0;
    font-size: 15px;
}

.health_c .bg .inner .box a {
    display: inline-block;
    margin: 20px 0 10px 0;
    font-size: 15px;
}

.health_c .bg .inner .box a>span {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 1px;
    border-radius: 1px;
    background: #fff;
    margin: 0 0 0 10px;
    transition: 0.5s;

}

.health_c .bg .inner .box a>span::after {
    position: absolute;
    bottom: 2px;
    right: -1px;
    content: "";
    display: block;
    width: 8px;
    height: 1px;
    border-radius: 1px;
    background: #fff;
    transform: rotate(45deg) translateY(-50%);
}

.health_c .bg .inner .box a:hover span {
    width: 50px;
}

/* news */
.news {
    display: flex;
    padding: 0 0 100px 0;
}

.news .title {
    margin: auto 100px auto 350px;
    text-align: center;
}

.news .title h2 {
    margin: 0 0 30px 0;
    font-size: 27px;
    font-weight: 700;
}

.news .title h2>span {
    display: block;
    margin: 10px 0 0 0;
    font-size: 21px;
    color: #117176;

}

.news .title a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 15px;
    background: #117176;
    color: #fff;
}

.news .news_b {
    position: relative;
    display: flex;
    gap: 30px;
}

.news .news_b::before {
    position: absolute;
    top: 20px;
    left: -30px;
    display: block;
    content: "";
    width: 50px;
    height: 8px;
    background: #117176;
    opacity: 0.8;
}

.news .news_b>div {
    position: relative;
    width: 400px;
    box-shadow: 0 0 2px #555;
    padding: 50px 30px;
}

.news .news_b h3 {
    margin: 0 0 20px 0;
    font-size: 17px;
    font-weight: 500;
}

.news .news_b p {
    overflow: hidden;
    margin: 0 0 50px 0;
    line-height: 1.45;
}

.news .news_b span {
    font-size: 13px;
    font-weight: 300;
}

.news .news_b a {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    background: #117176;
    color: #fff;
}

/* map */
.map {
    padding: 100px 0;
    background: #f9f9f9;
}

.map .container {
    display: flex;
    gap: 30px;
}

.map .left {
    flex: 2;
}

.map .left .root_daum_roughmap {
    height: 100%;
    width: 100%;
}

.map .left .root_daum_roughmap .wrap_map {
    height: 100%;
}

.map .left .wrap_controllers {
    display: none;
}

.map .right {
    flex: 1;
    padding: 30px 30px 10px 30px;
    background: #fff;
    box-shadow: 0 0 1px #333;
    color: #333;
}

.map .right>div {
    margin: 0 0 30px 0;
}

.map .right h3 {
    margin: 0 0 10px 0;
    font-size: 19px;
    font-weight: 500;
}

.map .right h3::before {
    display: inline-block;
    content: "";
    width: 3px;
    height: 15px;
    background: #117176;
    margin: 0 5px 0 0;
}

.map .right p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
}

.map .right .cs span {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 13px;
    font-weight: 500;
}

.map .right .parking p~p {
    margin: 10px 0 0 0;
}

.map .right .parking span {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
}

/* footer */
.footer_bn .container>ul {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.footer_bn .container .mk p {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

.footer_bn .container .mk::before {
    content: "";
    display: inline-block;
    background: url(../img/footer_logo.png)no-repeat;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.footer_bn .container .bn_01::before {
    background-position: 0 -60px;
    width: 28px;
    height: 38px;
}

.footer_bn .container .bn_02::before {
    background-position: 0 -120px;
    width: 37px;
    height: 38px;
}

.footer_bn .container .bn_03::before {
    background-position: 0 -180px;
    width: 38px;
    height: 38px;
}

.footer_bn .container .bn_04::before {
    background-position: 0 -240px;
    width: 43px;
    height: 38px;
}

.footer_bn .container .bn_05::before {
    background-position: 0 -300px;
    width: 44px;
    height: 44px;
}

.ft {
    background: #333;
    color: #fff;
    padding: 50px 0;
}

.ft .top_ft {
    border-bottom: 1px solid #555;
    padding: 0 0 40px 0;
}

.ft .top_ft dl {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
    font-size: 13px;
    font-weight: 100;
}

.ft .top_ft dl>dd~dd::before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 10px;
    background: #ddd;
    margin: 0 20px;
}

.ft .bottom_ft .container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;
}

.ft .bottom_ft dl>dd {
    margin: 0 0 10px 0;
    font-size: 13px;
    font-weight: 100;
}

.ft .bottom_ft .sns {
    margin: 20px 0 0 0;
}

.ft .bottom_ft .sns i {
    font-size: 21px;
    margin: 0 10px 0 0;
}

.ft .bottom_ft .cs dt {
    margin: 0 0 15px 0;
    font-size: 15px;
    font-weight: 300;
}

.ft .bottom_ft .cs dd:nth-of-type(1) {
    font-size: 19px;
    font-weight: 400;
    color: #01b9b7;
}

.ft .bottom_ft .family_site select {
    padding: 5px 25px;
    font-size: 13px;
    outline: none;
}