@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

* {
    font-family: 'Noto Serif KR', serif;
    outline: 1px solid rgb(180, 190, 204);
}

html {
    font-size: 10px;
}

.container {
    width: 120rem;
    margin: 0 auto;
}

/* header */

header .container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    line-height: 13rem;
    text-align: center;
    z-index: 990;
}

header h1 {
    font-size: 0;
}

header h1 img {
    width: 20rem;
    margin: 0 0 0 7.5rem;
}

header .gnb>ul {
    display: flex;
    gap: 3rem;
}

header .gnb>ul>li {
    position: relative;
    line-height: 5rem;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 6rem 0 0 0;
}

header .gnb>ul>li a {
    display: block;
    padding: 0 1.5rem;
}

header .gnb>ul>li>ul {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    display: none;
    background: #fff;
    border: 1px solid #ddd;
    line-height: 5rem;
    font-size: 1.5rem;
}

header .gnb>ul>li:hover ul {
    display: block;
}

header .gnb>ul>li>ul::before {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: "";
    width: 3px;
    height: 15px;
    background: #333;
}

header .gnb>ul>li>ul>li~li {
    border-top: 1px solid #ddd;
}

.mbtn {
    display: none;
}

/* main_visual */
.main_visual {
    background: url(../img/main_visual_bg.png);
}

.main_visual .bg_box {
    width: 35rem;
    height: 80rem;
    background: #333;
}

.main_visual .container {
    position: relative;
}

.main_visual .main_slider {
    position: absolute;
    top: 55%;
    left: -5rem;
    transform: translateY(-50%);
    width: 125rem;
}

.main_visual .main_slider figure {
    display: flex;
    justify-content: space-between;
}

.main_visual .main_slider .left {
    display: flex;
}

.main_visual .main_slider .left .tit {
    margin: auto 0 5rem 0;
}

.main_slider .left .tit span {
    display: inline-block;
    color: #f00;
    font-size: 1.3rem;
    font-weight: 500;
}

.main_slider .left .tit span::after {
    content: "";
    display: block;
    width: 3rem;
    height: 2px;
    background: #555;
    margin: 0.5rem 0;
}

.main_slider .left .tit p {
    font-size: 1.5rem;
    font-weight: 500;
}

.main_visual .main_slider .left img {
    width: 45rem;
}

.main_visual .main_slider .right {
    text-align: center;
    margin: 12rem auto;
}

.main_slider .right h2 {
    margin: 0 0 3rem 0;
    transform: translateY(100px);
    opacity: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

.main_slider figure.on .right h2 {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.main_slider .right p {
    margin: 0 0 2rem 0;
    transform: translateY(100px);
    opacity: 0;
    font-size: 1.5rem;
}

.main_slider figure.on .right p {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.main_slider .right a {
    position: relative;
    display: inline-block;
    border: 1px solid #333;
    transform: translateY(100px);
    opacity: 0;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    overflow: hidden;
}

.main_slider figure.on .right a {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s 1s, opacity 0.5s 1s;
}

.main_slider .right a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    transform: translateX(-100%);
    z-index: -1;
}

.main_slider .right a:hover::before {
    transform: translateX(0);
    transition: 0.5s;
}

.main_slider .right a:hover {
    color: #fff;
}

.main_slider .slick-dots button {
    display: none;
}

.main_slider .slick-dots {
    margin: 0 25rem 0 0;
    text-align: center;
}

.main_slider .slick-dots li {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border: 2px solid #333;
    border-radius: 50%;
    background: #fff;
    margin: 0 0.8rem;
}

.main_slider .slick-dots li.slick-active {
    background: #333;
}

/* side_menu */
.side_menu {
    position: fixed;
    top: 20rem;
    right: 3rem;
    z-index: 999;
}

.side_menu>div {
    position: relative;
    margin: 0 0 3rem 0;
}

.side_menu .icon {
    position: relative;
    display: inline-block;
    width: 5.5rem;
    height: 3.25rem;
    background: #333;
    color: #fff;
    text-align: center;
    font-size: 2.9rem;
}

.side_menu .icon::before {
    content: "";
    position: absolute;
    top: -1.35rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.75rem solid transparent;
    border-right: 2.75rem solid transparent;
    border-bottom: 1.35rem solid #333;
}

.side_menu .icon::after {
    content: "";
    position: absolute;
    bottom: -1.35rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.75rem solid transparent;
    border-right: 2.75rem solid transparent;
    border-top: 1.35rem solid #333;
}

.side_menu span {
    display: inline-block;
    border-bottom: 1px solid #333;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 1rem 0.5rem 1rem;
    opacity: 1;
    color: #000;
}

/* menu */
.menu {
    padding: 15rem 0 10rem 0;
    background: #f9f9f9;
}

.menu h2 {
    margin: 0 0 3rem 0;
    text-align: center;
    font-size: 3.1rem;
    font-weight: 700;

}

.menu .tab_menu {
    display: flex;
    justify-content: center;
    width: 80rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.7rem;
}

.menu .tab_menu>li>a {
    display: block;
    padding: 1.2rem 0 1.7rem 0;
}

.menu .tab_menu>li {
    flex: 1;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ddd;
}

.menu .tab_menu>li::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.5rem;
    background: #333;
    transform: translateX(-100%);
    overflow: hidden;
    transition: 0.5s;
}

.menu .tab_menu>li:hover::before {
    transform: translateX(0);
}

.menu .tab_content li {
    display: none;
}

.menu .tab_content li.on {
    display: block;
}

.menu .tab_content li .inner {
    display: flex;
    align-items: flex-end;
    padding: 5rem 0 0 0;
    gap: 3rem;
}

.menu .tab_content .m_box {
    position: relative;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 1px #333;
    padding: 3rem 0;
}

.menu .tab_content .m_box::before {
    content: attr(data-num);
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    background: #333;
    color: #fff;
    font-size: 2.0rem;
    font-weight: 900;
}

.menu .tab_content .m_box::after {
    content: "";
    position: absolute;
    top: 5.5rem;
    right: 0;
    border-left: 2.1rem solid transparent;
    border-right: 2.1rem solid transparent;
}

.tab_content .m_box::after {
    border-bottom: 1rem solid #fff;
}

.menu .tab_content .m_box:nth-child(2) {
    flex: 1;
}

.menu .tab_content .m_box:nth-child(1),
.menu .tab_content .m_box:nth-child(3) {
    flex: 0.8;
}

.menu .tab_content .m_box figure {
    position: relative;
    width: 25rem;
    margin: 0 auto 2rem auto;
}

.menu .tab_content .m_box:nth-child(2) figure {
    width: 35rem;
}

.menu .tab_content .m_box figure img {
    padding: 1rem;
}

.menu .tab_content .m_box h3 {
    margin: 0 0 1.5rem 0;
    font-size: 1.9rem;
    font-weight: 500;
}

.menu .tab_content .m_box p {
    margin: 0 0 1rem 0;
    font-size: 1.3rem;
    line-height: 1.25;
}

.menu .tab_content .m_box a {
    position: relative;
    display: inline-block;
    border: 1px solid #333;
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
    overflow: hidden;
    z-index: 999;
}

.menu .tab_content .m_box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    transform: translateX(-100%);
    z-index: -1;
}

.menu .tab_content .m_box a:hover::before {
    transform: translateX(0);
    transition: 0.5s;
}

.menu .tab_content .m_box a:hover {
    color: #fff;
}

/* sc_bg */
.sc_bg img {
    width: 100%;
}

/* season */
.season {
    padding: 10rem 0;
    background: #e0e0e0;
}

.season .box {
    position: relative;
    padding: 12rem 0;
    background: #555;
    color: #fff;
}

.season .sm01 {
    margin: 0 0 12rem 0;
}

.season .box figure {
    position: absolute;
    top: -20%;
    transform-origin: center;
    width: 35rem;
    padding: 2rem;
    background: #555;
    border-radius: 50%;
    animation: spin 20s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.season .sm01 figure {
    left: 10%;
}

.season .sm02 figure {
    right: 10%;
}

.season .box h2 {
    position: absolute;
    top: -3.3rem;
    right: 10%;
    font-size: 3.9rem;
    font-weight: 900;
    color: #555;
}

.season .box .des {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.season .box .des span {
    display: block;
    font-size: 1.2rem;
    font-weight: 100;
}

.season .box .des span::after {
    content: "";
    display: block;
    width: 3rem;
    height: 1px;
    background: #fff;
    margin: 1rem 0;
}

.season .box .des h3 {
    margin: 0 0 2rem 0;
    font-size: 2.1rem;
    font-weight: 500;
}

.season .box .des p {
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    font-weight: 100;
}

.season .box .des a {
    position: relative;
    display: inline-block;
    border: 1px solid #fff;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-weight: 100;
    overflow: hidden;
}

.season .box .des a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    z-index: -1;
}

.season .box .des a:hover::before {
    transform: translateX(0);
    transition: 0.5s;
}

/* notice */

.notice {
    padding: 10rem 0;
    background: #f9f9f9;
}

.notice .container {
    display: flex;
    justify-content: space-between;
}

.notice .left {
    width: 50%;
    padding: 3rem;
    margin: 0 4rem 0 0;
    background: #555;
    color: #fff;
    text-align: center;
}

.notice .left .inner {
    height: 100%;
    padding: 8.5rem 0;
    border: 3px solid #fff;
}

.notice .left h2 {
    font-size: 1.9rem;
    font-weight: 300;
}

.notice .left h2::after {
    content: "";
    display: block;
    width: 2px;
    height: 1.5rem;
    background: #fff;
    margin: 1.5rem auto;
}

.notice .left p {
    margin: 0 0 3rem 0;
    font-size: 3.1rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
}

.notice .left table {
    width: 70%;
    margin: 0 auto 1.5rem auto;
}

.notice .left table th {
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.notice .left table input {
    padding: 0.5rem 1rem;
    width: 100%;
}

.notice .left label {
    display: block;
    margin: 0 0 3rem 0;
    font-size: 1.2rem;
    font-weight: 100;
}

.notice .left label input {
    margin: 0 0.5rem 0 0;
}

.notice .left a {
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    border: 1px solid #fff;
    overflow: hidden;
    font-size: 1.5rem;
    z-index: 999;
}

.notice .left a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    z-index: -1;
}

.notice .left a:hover::before {
    transform: translateX(0);
    transition: 0.5s;
}

.notice .right {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.notice .right figure {
    position: relative;
    overflow: hidden;
}

.notice .right figure i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 2.1rem;
}

.notice .right figure:hover i {
    display: none;
}

.notice .right figure img {
    transition: 0.5s;
}

.notice .right figure:hover img {
    transform: scale(1.2);
}

.notice .right figure .txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3rem;
    margin: auto 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    transition: 0.5s;
}

.notice .right figure:hover .txt {
    opacity: 1;
}

.notice .right .txt .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: 3px solid #fff;
}

.notice .right .txt h3 {
    font-size: 1.9rem;
    font-weight: 600;
}

.notice .right .txt h3::after {
    content: "";
    display: block;
    width: 2px;
    height: 1.5rem;
    background: #fff;
    margin: 1rem auto;
}

.notice .right .txt p {
    margin: 0 0 2rem 0;
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 1.2;
}

.notice .right .txt a {
    position: relative;
    display: inline-block;
    align-self: center;
    overflow: hidden;
    border: 1px solid #fff;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-weight: 200;
    transition: 0.5s;
}

.notice .right .txt a:hover {
    background: rgba(0, 0, 0, 0.5);
}

.notice .right a:hover::before {
    transform: translateX(0);
    transition: 0.5s;
}

/* banner */

.banner {
    padding: 1.5rem 0;
}

.banner ul {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 400;
    /* animation: banner linear infinite 20s; */
}

.banner ul img {
    margin: 0 1rem 0 0;
}

/* footer */
footer {
    padding: 5rem 0;
    background: #333;
    color: #ddd;
    text-align: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer h2 img {
    width: 24rem;
}

footer .center {
    font-size: 1.3rem;
    font-weight: 200;
    margin: auto 0;
}

footer .center ul {
    display: flex;
    margin: 0 0 10px 0;
}

footer .center ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1rem;
    background: #999;
    margin: 0 1rem;
}


footer .right p {
    margin: 0 0 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
}

footer .right strong {
    display: block;
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

footer .right .sns {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 2.1rem;
}