* {
    outline: 1px solid rgb(161, 229, 250);
}

:root {
    --bl: #1a1818;
    --red: #e50019;
}

html {
    font-size: 10px;
    color: var(--bl);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* header */
header .top {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
}

header .top h1 {
    font-size: 0;
}

header .top .right {
    font-size: 2.5rem;
}

header .top .right i {
    margin: 0 0 0 1rem;
}

/* nav(gnb) */
header .gnb {
    position: relative;
}

header .gnb>ul {
    display: flex;
    justify-content: space-between;
    width: 120rem;
    margin: 0 auto;
    line-height: 5.5rem;
    font-size: 1.7rem;
    font-weight: 600;
}

header .gnb>ul::after {
    position: absolute;
    top: 5.2rem;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    background: #fff;
    z-index: 998;
}

header .gnb>ul:hover::after {
    height: 40rem;
    transition: 0.5s;
}

header .gnb>ul>li {
    position: relative;
    flex: 1;
    line-height: 5.5rem;
    text-align: center;
}

header .gnb>ul>li::after {
    position: absolute;
    bottom: 4px;
    left: 0;
    display: inline-block;
    content: "";
    height: 3px;
    width: 100%;
    opacity: 0;
    background: var(--red);
    transition: 0.5s;
}

header .gnb>ul>li:hover::after {
    opacity: 1;
}

header .gnb>ul>li>ul {
    position: absolute;
    top: 5.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0;
    overflow: hidden;
    background: rgba(255, 255, 255, );
    line-height: 5rem;
    font-size: 1.7rem;
    font-weight: 400;
    z-index: 999;
}

header .gnb>ul:hover>li>ul {
    height: 40rem;
    transition: 0.5s;
}

header .gnb>ul>li a {
    display: block;
}

.mopen {
    display: none;
}

/* main_visual */
.main_visual .inner {
    display: flex;
}

.main_visual .inner figure {
    width: 60%;
}

.main_visual .inner figure img {
    width: 100%;
}

.main_visual .inner .right {
    position: relative;
    width: 40%;
    background: var(--bl);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8rem;
}

.main_visual .inner .right::before {
    position: absolute;
    bottom: 5rem;
    left: -7rem;
    content: "";
    width: 0;
    height: 0;
    border-top: 3rem solid transparent;
    border-right: 7rem solid var(--bl);
    border-bottom: 3rem solid transparent;
}

.main_visual .right .txt>span {
    display: block;
    font-size: 1.5rem;
}

.main_visual .right .txt>span:after {
    content: "";
    display: block;
    width: 3rem;
    height: 2px;
    background: #fff;
    margin: 1rem 0 1.5rem 0;
}

.main_visual .inner .right p {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    margin: 0 0 2.5rem 0;
    font-size: 1.7rem;
    font-weight: 700;
    background: var(--red);
}

.main_visual .inner .right p>span {
    margin: 0 0.5rem 0 0;
    font-size: 1.3rem;
}

.main_visual .inner .right h2 {
    margin: 0 0 3rem 0;
    line-height: 1.25;
    font-size: 3.5rem;
    font-weight: 600;
}

.main_visual .inner .right a {
    display: inline-block;
    margin: 0 0 8rem 0;
    font-size: 1.7rem;
    font-weight: 300;
}

.main_visual .inner .right .arrow {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    margin: 0 0 0 10px;
}

.main_visual .inner .right .arrow::after {
    position: absolute;
    bottom: -1.1rem;
    right: -0.1rem;
    content: "";
    width: 11px;
    height: 2px;
    transform: rotate(45deg);
    border-radius: 2px;
    background: #fff;
}

.main_visual .inner .right a:hover~.arrow {
    width: 55px;
    transition: 0.5s;
}

.main_visual .inner .right .logo {
    display: flex;
}

.main_visual .inner .right img {
    width: 8rem;
}

.main_visual .inner .right .logo span {
    margin: 0 0 0 2rem;
    line-height: 8rem;
    font-size: 1.7rem;
}

.main_visual .swiper-pagination {
    bottom: 30px;
    z-index: 999;
    text-align: end;
    padding: 0 100px 0 0;
}

.main_visual .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: var(--bl);
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
}

.main_visual .swiper-pagination span.swiper-pagination-bullet-active {
    background: #fff;
}

/* today */
.today {
    padding: 15rem 0;
}

.today .container {
    display: flex;
}

.today .tit {
    margin: auto 12rem auto 0;
}

.today .tit h2 {
    margin: 0 0 0.5rem 0;
    color: var(--red);
    font-size: 10rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
}

.today .tit h2>span {
    margin: 0 0 0 0.5rem;
    color: var(--bl);
    font-size: 3rem;
}

.today .tit h3 {
    margin: 0 0 3rem 0;
    color: var(--bl);
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
}

.today .tit p {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    margin: 0 0 1rem 0;
    color: #fff;
    background: var(--red);
    font-size: 1.5rem;
    font-weight: 500;
}

.today .tit p::after {
    position: absolute;
    top: 0;
    right: -1.5rem;
    content: "";
    width: 0;
    height: 0;
    border-top: 1.75rem solid transparent;
    border-left: 1.5rem solid var(--red);
    border-bottom: 1.75rem solid transparent;
}

.today .tit .timeDeal {
    font-size: 3rem;
    font-weight: 900;
}

.today .swiper {
    width: 100%;
}

.today .pd {
    text-align: center;
}

.today .pd figure {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 0 2rem 0;
}

.today .pd .front {
    position: relative;
}

.today .pd .back {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

.today .pd:hover .back {
    opacity: 1;
}

.today .pd h3 {
    margin: 0 0 1.5rem 0;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.25;
}

.today .pd p {
    color: #555;
    margin: 0 0 1.5rem 0;
    font-size: 1.7rem;
    font-weight: 900;
    line-height: 1.25;
}

.today .pd a {
    display: inline-block;
    border: 3px solid var(--red);
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.25;
    transition: 0.5s;
}

.today .pd a:hover {
    background: var(--red);
    color: #fff;
}

.swiper-button-next,
.swiper-button-prev {}

/* banner */
.banner {
    display: flex;
}

.banner .left {
    position: relative;
    flex: 1;
}

.banner .right {
    flex: 1;
}

.banner .left .txt {
    background: url(../img/test01.png)no-repeat right center/cover;
    padding: 5rem 0 5rem 20rem;
}

.banner .left .txt span {
    font-size: 1.3rem;
    font-weight: 700;
}

.banner .left .txt>span::after {
    content: "";
    display: block;
    width: 3rem;
    height: 2px;
    margin: 1rem 0 1.5rem 0;
    background: var(--bl);
}

.banner .left .txt h2 {
    margin: 0 0 3.5rem 0;
    font-size: 3.5rem;
    font-weight: 900;
}

.banner .left .txt h2>span {
    margin: 0 0 0 0.5rem;
    font-size: 1.7rem;
    font-weight: 700;
}

.banner .left .txt p {
    font-size: 3.5rem;
    font-weight: 700;
}

.banner .left .txt p>span {
    margin: 0 0.5rem 0 0;
    font-size: 1.7rem;
}

.banner .right .txt {
    background: url(../img/test02.png) no-repeat left center/cover;
    height: 100%;
    padding: 5rem 20rem 5rem 0;
    text-align: end;
}

.banner .right .txt p {
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
}

.banner .right .txt p>span {
    margin: 0 0.5rem 0 0;
    font-size: 3.1rem;
    font-weight: 900;
}

.banner .right .txt a {
    display: inline-block;
    border: 2px solid var(--bl);
    border-radius: 2rem;
    background: var(--bl);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.5s;
}

.banner .right .txt a:hover {
    background: #fff;
    color: var(--bl);
}

/* new */
.new {
    padding: 15rem 0 22rem 0;
}

.new .title {
    margin: 0 0 8.5rem 0;
}

.new .title h2 {
    margin: 0 0 1.5rem 0;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.5rem;
}

.new .title a {
    display: block;
    margin: 0 1rem 0 0;
    font-size: 1.9rem;
    font-weight: 500;
    text-align: end;
}

.new .title a>i {
    padding: 0.5rem;
    margin: 0 0.5rem 0 0;
    background: var(--red);
    color: #fff;
    font-size: 1.7rem;
    transition: 0.5s;
}

.new .title a:hover i {
    transform: rotate(180deg);
}

.new .n_pd {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 0 0 6.5rem 0;
}

.new .n_pd figure {
    position: relative;
    border: 3px solid var(--bl);
    width: 30%;
}

.new .n_pd figure>div {
    position: relative;
    overflow: hidden;
}

.new .n_pd figure::before {
    position: absolute;
    top: -3.5rem;
    left: -3px;
    content: attr(data-num);
    display: block;
    width: 10rem;
    height: 3.5rem;
    border: 3px solid var(--bl);
    border-radius: 1rem 1rem 0 0;
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    line-height: 2.5rem;
}

.new .n_pd .des {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3rem 0;
    background: rgba(0, 0, 0, 0.5);
    transform: translateY(20rem);
    color: #fff;
    text-align: center;
    transition: 0.5s;
}

.new .n_pd figure:hover .des {
    transform: translateY(0);
}

.new .n_pd .des h3,
.new .n_pd .des p {
    margin: 0 0 1.5rem 0;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1.25;
}

.new .n_pd .des p {
    font-size: 1.9rem;
}

.new .n_pd .des a {
    display: block;
    font-size: 2.1rem;
}

.new .n_pd .des a i {
    transition: 0.5s;
}

.new .n_pd .des a:hover i {
    transform: rotate(180deg);
}

.new .n_pd strong {
    position: absolute;
    bottom: -3px;
    right: -3px;
    border: 3px solid var(--bl);
    background: var(--red);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    font-weight: 500;
    transition: 0.3s;
}

.new .n_pd figure:hover strong {
    opacity: 0;
}

/* friend */
.friend {
    position: relative;
}

.friend .tab_menu {
    position: absolute;
    top: -7rem;
    left: 5rem;
    display: flex;

}

.friend .tab_menu>li {
    /* border-top: 3px solid var(--bl);
    border-left: 3px solid var(--bl);
    border-right: 3px solid var(--bl); */
    border-radius: 2rem 2rem 0 0;
    padding: 1rem 2.5rem;
    background: #b4c6de;
    overflow: hidden;
}

.friend .tab_menu img {
    width: 5rem;
    margin: 0 0.5rem 0 0;
}

.friend .tab_menu strong {
    font-size: 1.7rem;
    font-weight: 900;
    vertical-align: middle;
}

.friend .character {
    text-align: center;
    align-self: center;
}

.friend .character figure {
    margin: 0 0 3rem 0;
    /* border: 3px solid var(--bl); */
    border-radius: 50%;
}

.friend .character h3 {
    font-size: 2.1rem;
    font-weight: 900;
}

.friend .character h3::after {
    content: "";
    display: block;
    width: 3px;
    height: 1.5rem;
    background: var(--bl);
    margin: 1rem auto;
}

.friend .character p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;
}

.friend .tab_content .box {
    display: none;
    padding: 5rem 0;
    /* border-top: 3px solid var(--bl); */
    background: #b4c6de;
    overflow: hidden;
}

.friend .tab_content .box.on {
    display: block;
}

.friend .tab_menu>li:nth-child(2),
.friend .tab_content .box:nth-child(2) {
    background: #ec91a3;
}

.friend .tab_menu>li:nth-child(3),
.friend .tab_content .box:nth-child(3) {
    background: #ffd401;
}

.friend .tab_menu>li:nth-child(4),
.friend .tab_content .box:nth-child(4) {
    background: #e2a042;
}

.friend .tab_content .container {
    display: flex;
    justify-content: space-between;
}

.friend .tab_content .character {
    width: 30%;
    margin: 0 5rem 0 0;
}

.friend .tab_content .f_pd {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
}

.friend .f_pd figure {
    position: relative;
    /* border: 3px solid var(--bl); */
    border-radius: 10%;
    overflow: hidden;
    width: 30%;
}

.friend .f_pd figure .des {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    background: rgba(0, 0, 0, 0.5);
    transform: translateY(14.7rem);
    color: #fff;
    text-align: center;
    transition: 0.5s;
}

.friend .f_pd figure:hover .des {
    transform: translateY(0);
}

.friend .f_pd .des h3,
.friend .f_pd .des p {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.friend .f_pd .des p {
    font-size: 1.5rem;
}

.friend .f_pd .des a {
    display: block;
    font-size: 1.7rem;
}

.friend .f_pd .des a i {
    transition: 0.5s;
}

.friend .f_pd .des a:hover i {
    transform: rotate(180deg);
}

/* footer */
footer .top {
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
}

footer .top ul {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
}

footer .top ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1.3rem;
    background: #ddd;
    margin: 0 1rem;
}

footer .top ul>li:hover a {
    color: var(--red);
}

footer .bottom {
    padding: 5rem 0;
}

footer .bottom .container {
    display: flex;
    justify-content: space-between;
}

footer .bottom h2 {
    align-self: center;
}

footer .bottom dt {
    margin: 0 0 1.5rem 0;
    font-size: 1.7rem;
    font-weight: 700;
}

footer .bottom dl {
    margin: 0 0 0.8rem 0;
    font-size: 1.3rem;
}

footer .right .cs {
    font-size: 3.1rem;
    font-weight: 900;
}

footer .right .sns {
    margin: 2rem 0 0 0;
}

footer .right .sns i {
    border-radius: 50%;
    background: var(--bl);
    color: #fff;
    padding: 0.8rem;
    margin: 0 1rem 0 0;
    font-size: 1.9rem;
}

footer .to_top i {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    padding: 1rem;
    background: var(--bl);
    color: #fff;
    font-size: 2.5rem;
}