@use './basic.scss';

.MainVisual {
    figure {
        height: 500px;
    }

    .itm01 {
        background: url(../../public/img/m_slider_01.jpg)no-repeat center center/cover;
    }

    .itm02 {
        background: url(../../public/img/m_slider_02.jpg) no-repeat center center/cover;
    }

    .itm03 {
        background: url(../../public/img/m_slider_03.jpg) no-repeat center center/cover;
    }
}