.character {
    background: #f9f9f9;
    padding: 5rem 0;
}

.character .container {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.character .left {
    width: 100%;
    align-self: center;
}

.character .left .swiper-slide figure {
    position: relative;
}

.character .left .swiper-slide .photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.character .left .swiper-slide .name {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.character .left .swiper-slide .name>* {
    text-align: center;
    font-weight: 700;
}

.character .left .name strong {
    display: block;
    font-size: 1.9rem;
}

.character .left .name strong::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #999;
    margin: 0.8rem auto;
}

.character .left .name p {
    font-size: 1.5rem;
}

.character .right .box {
    height: 100%;
    align-self: center;
    border-radius: 1.5rem;
    border: 3px solid var(--mc);
    background: #fff;
    padding: 3rem 6rem;
}


.character .right .box h3 {
    margin: 0 0 1.5rem 0;
    font-size: 2.5rem;
    font-weight: 700;
}

.character .right h3>span {
    font-size: 1.7rem;
}

.character .right hr {
    border: 0;
    height: 2px;
    background: var(--mc);
    margin: 0 0 2rem 0;
}

.character .right .hash {
    margin: 0 0 2.5rem 0;
}

.character .right .hash strong {
    display: inline-block;
    margin: 0 1.5rem 0 0;
    font-size: 1.7rem;
    font-weight: 700;
}

.character .right .des {
    margin: 0 0 2.5rem 0;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;
}

.character .right .des p~p {
    margin: 2rem 0 0 0;
}

.character .right .box a {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
}

.character .right .box a>i {
    border-radius: 50%;
    background: var(--mc);
    color: #fff;
    padding: 0.5rem;
    margin: 0 0 0 1rem;
}