@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&family=Noto+Serif+KR:wght@200;300;400&display=swap');

* {
    font-family: 'Noto Serif KR', serif;
    outline: 1px solid rgb(163, 206, 184)-;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* top_banner */
header .top_banner {
    position: sticky;
    z-index: 999;
    display: flex;
    background: #ddd;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

header .top_banner a {
    display: block;
    font-size: 25px;
    margin-right: 20px;
}

/* nav */
.gnb {
    position: relative;
}

.gnb .gnb_top {
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #ddd;
    line-height: 35px;
}

.gnb .gnb_top ul {
    display: flex;
    gap: 30px;
    justify-content: end;
    font-size: 13px;
    font-weight: 500;
}

.gnb .gnb_top input[type="text"] {
    outline: none;
    border: none;
    width: 250px;
    padding: 3px 0;
    margin-left: 62px;
}

.gnb input[type="text"]::placeholder {
    font-size: 13px;
    letter-spacing: 5px;
}

.gnb input[type="text"]:focus::placeholder {
    color: transparent;
}

.gnb .gnb_top button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    margin-right: 20px;
}

.gnb .gnb_bottom {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    line-height: 80px;
}

.gnb .gnb_bottom h1 {
    width: 330px;
    font-size: 0;
}

.gnb .gnb_bottom>ul {
    display: flex;
    gap: 50px;
    font-size: 15px;
    font-weight: 700;
}

.gnb .gnb_bottom>ul>li:hover>a {
    color: #666;
    text-decoration: overline;
}

.gnb .gnb_bottom>ul>li>ul {
    position: absolute;
    top: 116px;
    left: 60%;
    z-index: 999;
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 60px;
    background: #fff;
    transition: 0.5s;
}

.gnb .gnb_bottom>ul>li:hover>ul {
    height: 60px;
}

.gnb .gnb_bottom>ul>li>ul>li:hover {
    color: #666;
    text-decoration: overline;
}

.gnb_bottom>ul li a {
    display: block;
}

.gnb .gnb_bottom>ul::after {
    position: absolute;
    top: 116px;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 0;
    content: "";
    background: #fff;
    transition: 0.5s;
}

.gnb .gnb_bottom>ul:hover::after {
    height: 60px;
}

.gnb .mbtn {
    display: none;
}

/* main_visual */
.main_visual .inner {
    height: calc(100vh - 150px);
    overflow: hidden;
}

/* show_room */
.show_room {
    display: flex;
    padding: 100px 0;
    width: 1600px;
    margin: 0 auto;
}

.show_room .left {
    position: relative;
    width: 50%;
    padding: 0 50px 0 0;
    margin: auto 0;
}

.show_room .right {
    width: 50%;
    padding: 0 0 0 250px;
}

.show_room .left_slide strong {
    font-size: 13px;
    font-weight: 500;
}

.show_room .left_slide strong::after {
    display: block;
    content: "";
    width: 70px;
    height: 2px;
    background: #333;
    margin: 10px 0 20px 0;
}

.show_room .left_slide h2 {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 800;
}

.show_room .left_slide>div {
    height: 500px;
}

.show_room .left_slide .bg_box {
    position: relative;
    background: #444;
    width: calc(100% - 30px);
    height: 350px;
}

.show_room .left_slide .bg_box figure {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
}

.show_room .left .sr_arrows>i {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.show_room .left .sr_arrows i:nth-child(1) {
    margin: 0 0 0 -430px;
}

.show_room .left .sr_arrows i:nth-child(2) {
    margin: 0 0 0 380px;
}

.show_room .right_slide .box {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #444;
    color: #fff;
}

.show_room .right_slide .box::after {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 30px solid #ddd;
    border-left: 30px solid #fff;
}

.show_room .right_slide .box:hover::after {
    display: block;
}

.show_room .right_slide .box:not(:last-child) {
    margin-bottom: 30px;
}

.show_room .right_slide .box figure {
    flex: 2;
}

.show_room .right_slide .box .txt {
    display: block;
    flex: 1;
    padding: 0 30px;
    margin: auto auto;
    text-align: center;
}

.show_room .right_slide .box .txt strong {
    font-size: 13px;
}

.show_room .right_slide .box .txt strong::after {
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background: #fff;
    margin: 5px auto 10px auto;
}

.show_room .right_slide .box .txt h3 {
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
}

.show_room .right_slide .box .txt a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px 30px;
    font-size: 13px;
    font-weight: 200;
    transition: 0.5s;
}

.show_room .right_slide .box .txt a:hover {
    background: rgba(0, 0, 0, 0.3);
}

/* promotion */
.promotion {
    padding: 100px 0;
}

.promotion .pm_bg {
    background: url(../img/promotion_bg02.jpg)no-repeat fixed center center/cover;
    filter: grayscale(1);
    padding: 60px 0;
    overflow: hidden;
    text-shadow: 1px 1px 1px #333;
}

.promotion .pm_bg .container {
    text-align: end;
}

.promotion .pm_bg span {
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 5px;
}

.promotion .pm_bg span:nth-child(1)::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    margin: 10px 0 0 auto;
    background: #333;
}

.promotion .pm_bg h2 {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 5px;
}

.promotion .pm_bg span:nth-child(3) {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 900;
}

.promotion .pm_bg p {
    font-size: 17px;
    font-weight: 500;
}

/* new_collection */
.new_collection {
    padding: 100px 0 50px 0;
}

.new_collection .title {
    text-align: center;
}

.new_collection .title span {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 900;
}

.new_collection .title span:nth-child(2) {
    font-size: 15px;
    font-weight: 500;
}

.new_collection .title span:nth-child(2)::after {
    display: block;
    content: "";
    width: 120px;
    height: 1px;
    background: #333;
    margin: 10px auto 30px auto;
}

.new_collection h2 {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 900;
}

.new_collection p {
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 1.4;
}

.new_collection .new_col_img {
    display: flex;
    gap: 50px;
}

.new_collection .new_col_img figure {
    position: relative;
    margin: 0 0 50px 0;
    overflow: hidden;
}

.new_collection .new_col_img figure img {
    transition: 1s;
}

.new_collection .new_col_img figure:hover img {
    transform: scale(1.3);
    filter: grayscale(1);
}

.new_collection .new_col_img .new_col_right {
    margin-top: 120px;
}

.new_collection .new_col_img .txt {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    color: #fff;
    text-align: center;
    transition: 0.5s;
}

.new_collection .new_col_img figure:hover .txt {
    opacity: 1;
}

.new_collection .new_col_img .txt h3 {
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #333;
    letter-spacing: 3px;
}

.new_collection .new_col_img .txt a {
    display: block;
    border: 1px solid #fff;
    padding: 10px 30px;
    margin-bottom: 10px;
    font-size: 15px;
    text-shadow: 1px 1px 1px #333;
    transition: 0.5s;
}

.new_collection .new_col_img .txt a:hover {
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px #777;
}

/* review */
.review {
    padding: 100px 0;
    background: #f9f9f9;
}

.review .container {
    display: flex;
    justify-content: space-between;
}

.review .container .title {
    margin: auto 0;
    padding: 0 50px;
}

.review .container .title h2 {
    margin-top: 5px;
    font-size: 35px;
    font-weight: 900;
}

.review .container .title h2::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: #333;
    margin: 10px 0 15px 0;
}

.review .container .title p {
    margin-bottom: 30px;
}

.review .container .title a {
    display: block;
    padding: 5px 30px;
    border: 1px solid #333;
    background: #fff;
    transition: 0.5s;
}

.review .container .title a:hover {
    background: #333;
    color: #fff;
}

.review .container .line {
    position: relative;
    width: 2px;
    background: #ddd;
}

.review .container .line .icon {
    position: absolute;
    top: 0;
    left: -12px;
    margin: 15px 0;
}

.review .container .line .icon i {
    border-radius: 50%;
    background: #444;
    color: #fff;
    padding: 5px;
    margin: 95px 0 105px 0;
    font-size: 17px;
}

.review .container>div>figure {
    position: relative;
    display: flex;
    margin: 15px 0;
}

.review .container>div figure img {
    width: 300px;
    border-radius: 50px;
    background: #444;
    padding: 10px;
    margin-right: 30px;
}

.review .container>div figure::before {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 25px solid #444;
    border-bottom: 25px solid transparent;
}

.review .container .txt {
    margin: auto 0;
    padding: 30px 0 30px 30px;
    font-size: 15px;
}

.review .container .txt p {
    margin-bottom: 10px;
}

.review .container .txt p::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #333;
    margin: 5px 0 0 0;
}

.review .container .txt span {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

/* footer */
footer {
    padding: 50px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .container figure {
    width: 280px;
    margin: auto 0;
}

footer .container .center {
    margin: auto 0;
}

footer .container .top {
    margin-bottom: 20px;
}

footer .container .top dd a {
    font-size: 17px;
    font-weight: 700;
}

footer .container .top dd a:hover {
    color: #666;
    text-decoration: overline;
}

footer .container .bottom dl {
    margin-bottom: 10px;
}

footer .container .center dl>dd {
    display: inline-block;
    font-size: 13px;
}

footer .container .center dl>dd~dd::before {
    content: "";
    display: inline-block;
    margin: 0 15px;
    width: 1px;
    height: 11px;
    background: #333;
}

footer .container .cs dl>dd,
footer .container.cs dl>dt {
    margin: 10px 0;
    font-size: 13px;
    font-weight: 500;
}

footer .container .cs dl a {
    font-size: 19px;
    font-weight: 700;
}

@media(max-width:768px) {
    .container {
        width: auto;
        margin: 0 20px;
        overflow: hidden;
    }

    /* top_banner */
    header .top_banner {
        justify-content: center;
    }

    .gnb .gnb_top {
        display: flex;
        justify-content: start;
        border-bottom: 1px solid #ddd;
        margin: 0 15px;
        line-height: 35px;
    }

    .gnb .gnb_top input[type="text"] {
        outline: none;
        border: none;
        width: 150px;
        padding: 3px 0;
        margin-left: auto;
    }

    .gnb .gnb_top button {
        background: transparent;
        border: none;
        outline: none;
        font-size: 19px;
        margin-right: 0px;
    }


    /* nav */
    .gnb .mbtn {
        position: fixed;
        top: 65px;
        right: 30px;
        display: block;
        background: #444;
        border-radius: 5px;
        z-index: 999;
    }

    .gnb .mbtn .hamburger {
        padding: 8px;
    }

    .gnb .mbtn .hamburger-box {
        width: 25px;
    }

    .gnb .mbtn .hamburger-inner,
    .gnb .mbtn .hamburger-inner::before,
    .gnb .mbtn .hamburger-inner::after {
        width: 25px;
        height: 3px;
        background: #fff;
    }

    .gnb .gnb_bottom {
        position: fixed;
        top: 0;
        left: -100%;
        background: #fff;
        border-right: 1px solid #ddd;
        width: calc(100% - 90px);
        height: 100vh;
        padding: 100px 15px 0 15px;
        z-index: 999;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 0 auto;
    }

    .gnb .gnb_bottom.on {
        left: 0;
    }

    .gnb .gnb_bottom h1 {
        width: 230px;
        margin-bottom: 30px;
    }

    .gnb .gnb_bottom>ul {
        display: flex;
        flex-direction: column;
        gap: 0px;
        font-size: 15px;
        font-weight: 700;
    }

    .gnb .gnb_bottom>ul>li:hover>a {
        color: #666;
        text-decoration: none;
    }

    .gnb .gnb_bottom>ul>li {
        border-bottom: 1px solid #333;
    }

    .gnb .gnb_bottom>ul>li>ul {
        position: static;
        top: 116px;
        left: 60%;
        z-index: 999;
        display: none;
        width: auto;
        height: auto;
        background: #f9f9f9;
        transition: none;
        text-align: center;
    }

    .gnb .gnb_bottom>ul>li>ul>li {
        line-height: 35px;
    }

    .gnb .gnb_bottom>ul>li:hover>ul {
        height: auto;
    }

    .gnb .gnb_bottom>ul::after {
        display: none;
    }

    .gnb .gnb_bottom>ul>li>ul>li:hover {
        color: #666;
        text-decoration: none;
    }

    /* main_visual */
    .main_visual .inner {
        height: auto;
    }

    /* show_room */
    .show_room {
        display: flex;
        flex-direction: column;
        padding: 100px 0;
        width: auto;
        margin: 0 auto;
    }

    .show_room .left {
        position: relative;
        width: auto;
        padding: 0;
        margin: 0 50px 20px 50px;
    }

    .show_room .left_slide h2 {
        margin-bottom: 30px;
        font-size: 35px;
        font-weight: 800;
    }

    .show_room .left_slide>div {
        height: 400px;
    }

    .show_room .left_slide .bg_box {
        position: relative;
        background: #444;
        width: 100%;
        height: 0;
    }

    .show_room .left_slide .bg_box figure {
        position: static;
        top: 0;
        left: 0;
        width: 100%;
    }

    .show_room .left .sr_arrows>i {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        font-size: 25px;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
    }

    .show_room .left .sr_arrows i:nth-child(1) {
        margin: 0 0 0 -50%;
    }

    .show_room .left .sr_arrows i:nth-child(2) {
        margin: 0 0 0 50%;
    }

    .show_room .right {
        width: auto;
        padding: 0;
        margin: 0 50px;
    }

    /* promotion */
    .promotion .pm_bg {
        background: url(../img/promotion_bg02.jpg)no-repeat center center/cover;
        filter: grayscale(1);
        padding: 60px 0;
        overflow: hidden;
        text-shadow: 1px 1px 1px #333;
    }

    .promotion .pm_bg .container {
        width: calc(100% - 60px);
        text-align: end;
    }

    .promotion .pm_bg span {
        display: block;
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 5px;
    }

    .promotion .pm_bg span:nth-child(1)::after {
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        margin: 10px 0 0 auto;
        background: #333;
    }

    .promotion .pm_bg h2 {
        display: inline-block;
        margin-bottom: 30px;
        font-size: 50px;
        font-weight: 900;
        letter-spacing: 5px;
    }

    .promotion .pm_bg span:nth-child(3) {
        display: inline-block;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 900;
    }

    .promotion .pm_bg p {
        font-size: 15px;
        font-weight: 500;
    }

    /* new_collection */
    .new_collection .title {
        margin: 0 20px;
    }

    .new_collection .new_col_img {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .new_collection .new_col_img .new_col_right {
        margin-top: 0px;
    }

    .new_collection .new_col_img figure {
        position: relative;
        width: 80%;
        margin: 0 auto 30px auto;
        overflow: hidden;
    }

    .new_collection .new_col_img .txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        color: #fff;
        text-align: center;
        line-height: 1.2;
        transition: 0.5s;
    }

    .new_collection .new_col_img figure:hover .txt {
        opacity: 1;
    }

    .new_collection .new_col_img .txt h3 {
        margin-bottom: 15px;
        font-size: 25px;
        font-weight: 700;
        text-shadow: 1px 1px 1px #333;
        letter-spacing: 3px;
    }

    .new_collection p {
        margin-bottom: 30px;
    }

    .new_collection .new_col_img .txt a {
        display: inline-block;
        border: 1px solid #fff;
        padding: 10px 30px;
        margin-bottom: 10px;
        font-size: 13px;
        text-shadow: 1px 1px 1px #333;
        transition: 0.5s;
    }

    .new_collection .new_col_img .txt a:hover {
        background: rgba(0, 0, 0, 0.5);
        text-shadow: 1px 1px 1px #777;
    }

    /* review */
    .review {
        padding: 100px 0;
        background: #f9f9f9;
    }

    .review .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .review .container .title {
        margin: 0 0 30px 10px;
        padding: 0;
    }

    .review .container .title p {
        margin-bottom: 20px;
    }

    .review .container .title a {
        display: inline-block;
        padding: 5px 30px;
        border: 1px solid #333;
        background: #fff;
        transition: 0.5s;
    }

    .review .container .line {
        display: none;
    }

    .review .container>div>figure {
        position: relative;
        display: flex;
        margin: 15px 0;
    }

    .review .container>div figure img {
        width: 0;
        flex: 1;
        border-radius: 40px;
        background: #444;
        padding: 8px;
        margin-right: 0;
    }

    .review .container>div figure::before {
        display: none;
    }

    .review .container figure .txt {
        flex: 1.5;
        margin: auto 0;
        padding: 30px 0 30px 30px;
        font-size: 15px;
    }

    /* footer */
    footer {
        padding: 50px 0 30px 0;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    footer .container figure {
        width: 230px;
        margin: 0 auto 25px auto;
    }

    footer .container .center {
        margin: auto 0;
        border-bottom: 1px solid #ddd;
    }

    footer .container .top {
        margin-bottom: 20px;
    }

    footer .container .top dd a {
        font-size: 15px;
        font-weight: 700;
    }

    footer .container .bottom {
        margin: 0 0 20px 0;
    }

    footer .container .bottom dl {
        margin-bottom: 7px;
    }

    footer .container .bottom dl>dd {
        display: block;
        margin-bottom: 7px;
        font-size: 13px;
    }

    footer .container .bottom dl>dd~dd::before {
        display: none;
    }

    footer .container .cs {
        display: flex;
        margin: 10px auto;
        gap: 50px;
    }

    footer .container .cs dl {
        margin: auto 0;
    }

    footer .container .cs dl dt {
        margin-bottom: 15px;
    }

}