@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Hahmlet', serif;
    outline: 1px solid rgb(196, 238, 222);
}

.Wrap {
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* header */
header {
    background: #fefef2;
}

header .container {
    line-height: 100px;
}

header .top {
    display: flex;
    justify-content: space-between;
}

header .top figure {
    width: 200px;
}

header .top .right {
    display: flex;
    gap: 30px;
}

header .gnb {
    position: relative;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

header .gnb>ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
}

header .gnb>ul::after {
    position: absolute;
    top: 52px;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    background: #fefef2;
    z-index: 998;
}

header .gnb>ul:hover::after {
    height: 150px;
    transition: 0.5s;
}

header .gnb>ul>li {
    position: relative;
    flex: 1;
    border-left: 1px solid #ddd;
    line-height: 50px;
    text-align: center;
}

header .gnb>ul>li::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 0;
    height: 5px;
    background: #333;
    opacity: 0;
}

header .gnb>ul>li:hover::after {
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s;
}

header .gnb>ul>li:last-child {
    border-right: 1px solid #ddd;
}

header .gnb>ul>li>ul {
    position: absolute;
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #fefef2;
    line-height: 35px;
    z-index: 999;
}

header .gnb>ul:hover>li>ul {
    height: 150px;
    transition: 0.5s;
}

header .gnb>ul>li a {
    display: block;
}

/* main_visual */
.main_visual {
    position: relative;
}

.main_slider .itm {
    display: flex;
}

.main_visual .main_slider .itm .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 50px;
    background: #222;
    color: #fff;
}

.main_visual .main_slider .left figure {
    width: 230px;
    margin-bottom: 30px;
}

.main_visual .main_slider .left figure::after {
    display: block;
    content: "";
    width: 100px;
    height: 2px;
    margin-top: 20px;
    background: #fff;
}

.main_visual .main_slider .left strong {
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 20px;
}

.main_visual .main_slider .left p {
    font-size: 15px;
    font-weight: 200;
    line-height: 1.4;
}

.main_visual .main_slider .right {
    position: relative;
    flex: 2;
}

.main_visual .main_dots {
    position: absolute;
    bottom: 30px;
    left: 50px;
    display: flex;
    gap: 30px;
    color: #fff;
}

.main_visual .main_dots li {
    padding: 8px 0;
}

.main_visual .main_dots li.on {
    border-top: 2px solid #fff;
}

/* best_seller */
.best_seller {
    padding: 100px 0;
}

.best_seller h2 {
    text-align: center;
    font-size: 31px;
    font-weight: 500;
    margin-bottom: 50px;
}

.best_seller .bs_slider {
    position: relative;
    background: #f1f1f1;
}

.best_seller .bs_slider .container {
    width: 1240px;
    padding: 50px 0;
    gap: 40px;
}

.best_seller .best_itm {
    text-align: center;
    margin: 0 20px;
}

.best_seller .best_itm figure {
    padding: 30px 0 0 0;
    margin-bottom: 20px;
    border-radius: 30% 30% 0 0;
    background: #fff;
}

.best_seller .best_itm h3 {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.2;
}

.best_seller .best_itm p {
    margin-bottom: 20px;
    font-size: 13px;
}

.best_seller .best_itm a {
    display: inline-block;
    border: 1px solid #333;
    padding: 5px 30px;
    margin-bottom: 10px;
    font-size: 13px;
}

.best_seller .best_itm a:hover {
    background: #333;
    color: #fff;
    transition: 0.5s;
}

.best_seller .bs_slider .bs_arrows>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    font-size: 31px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
}

.best_seller .bs_slider:hover .bs_arrows>i {
    opacity: 1;
    transition: 0.8s;
}

.best_seller .bs_arrows i:nth-child(1) {
    margin: 0 0 0 -670px;
}

.best_seller .bs_arrows i:nth-child(2) {
    margin: 0 0 0 670px;
}

/* seasonal_gift */

.seasonal_gift .sg_top,
.seasonal_gift .sg_bottom {
    padding: 100px 0;
    display: flex;
    gap: 50px;
}

.seasonal_gift .sg_top .sg_img,
.seasonal_gift .sg_bottom .sg_img {
    position: relative;
    flex: 3;
}

.seasonal_gift .sg_top .sg_img {
    transform: translateX(-100%);
    transition: 0.7s;
}

.seasonal_gift .sg_top .sg_img.on {
    transform: translateX(0);
}

.seasonal_gift .sg_bottom .sg_img {
    transform: translateX(100%);
    transition: 0.7s;
}

.seasonal_gift .sg_bottom .sg_img.on {
    transform: translateX(0);
}

.seasonal_gift .sg_top .sg_img .sg_img_bg {
    width: 100%;
    height: 500px;
    background: linear-gradient(-120deg, transparent 300px, #f1f1f1 0);
}

.seasonal_gift .sg_top .sg_img figure {
    position: absolute;
    top: 5%;
    right: -10%;
    width: 900px;
}

.seasonal_gift .sg_bottom .sg_img .sg_img_bg {
    width: 100%;
    height: 500px;
    background: linear-gradient(120deg, transparent 300px, #f1f1f1 0);
}

.seasonal_gift .sg_bottom .sg_img figure {
    position: absolute;
    top: 12%;
    left: -18%;
    width: 900px;
}

.seasonal_gift .sg_top .sg_txt,
.seasonal_gift .sg_bottom .sg_txt {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    padding: 0 200px;
}

.seasonal_gift .sg_top .sg_txt>span,
.seasonal_gift .sg_bottom .sg_txt>span {
    font-size: 13px;
    border-bottom: 1px solid #333;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.seasonal_gift .sg_top .title,
.seasonal_gift .sg_bottom .title {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}

.seasonal_gift .sg_top .sg_txt .title h3,
.seasonal_gift .sg_bottom .sg_txt .title h3 {
    margin-bottom: 60px;
    font-size: 31px;
    font-family: 900;
}

.seasonal_gift .sg_top .sg_txt>ul>li,
.seasonal_gift .sg_bottom .sg_txt>ul>li {
    padding-bottom: 10px;
    font-size: 15px;
    border-bottom: 1px solid #999;
}

.seasonal_gift .sg_top .sg_txt .kit h4,
.seasonal_gift .sg_bottom .sg_txt .kit h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 400;
}

.seasonal_gift .sg_top .sg_txt .kit p,
.seasonal_gift .sg_bottom .sg_txt .kit p {
    font-size: 15px;
    margin-bottom: 45px;
}

.seasonal_gift .sg_top .sg_txt .pd,
.seasonal_gift .sg_bottom .sg_txt .pd {
    margin-bottom: 50px;
}

.seasonal_gift .sg_top .sg_txt .pd>div,
.seasonal_gift .sg_bottom .sg_txt .pd>div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 400;
}

.seasonal_gift .sg_top .sg_txt .pd>div>a,
.seasonal_gift .sg_bottom .sg_txt .pd>div>a {
    display: block;
    font-size: 21px;
    transition: 0.5s;
}

.seasonal_gift .sg_top .sg_txt .pd>div>a.on,
.seasonal_gift .sg_bottom .sg_txt .pd>div>a.on {
    transform: rotate(180deg);
}

.seasonal_gift .sg_top .sg_txt .pd>ul,
.seasonal_gift .sg_bottom .sg_txt .pd>ul {
    visibility: hidden;
    opacity: 0;
    font-size: 15px;
    transition: 0.5s;
}

.seasonal_gift .sg_top .sg_txt .pd>ul.on,
.seasonal_gift .sg_bottom .sg_txt .pd>ul.on {
    visibility: visible;
    opacity: 1;

}

.seasonal_gift .sg_top .sg_txt .pd ul>li,
.seasonal_gift .sg_bottom .sg_txt .pd ul>li {
    margin-bottom: 8px;
}

.seasonal_gift .sg_top .sg_txt .sg_button,
.seasonal_gift .sg_bottom .sg_txt .sg_button {
    display: flex;
    gap: 20px;
}

.seasonal_gift .sg_top .sg_txt .sg_button>a,
.seasonal_gift .sg_bottom .sg_txt .sg_button>a {
    display: block;
    padding: 10px 35px;
    border: 1px solid #333;
}

.seasonal_gift .sg_top .sg_txt .sg_button>a:hover,
.seasonal_gift .sg_bottom .sg_txt .sg_button>a:hover {
    background: #333;
    color: #fff;
    transition: 0.5s;
}

/* gift_guide */
.gift_guide {
    padding: 100px 0;
}

.gift_guide .gg_box {
    padding: 100px 0;
    overflow: hidden;
    color: #fff;
    background: url(../img/gift_guide.jpg)no-repeat fixed center center/cover;
    filter: grayscale(0.5);
}

.gift_guide .gg_box h2 {
    position: absolute;
    bottom: 10px;
    left: 0;
    opacity: 0.5;
    font-size: 200px;
    font-weight: 800;
}

.gift_guide .gg_box>div {
    text-align: end;
    padding-right: 300px;
}

.gift_guide .gg_box>div h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.gift_guide .gg_box>div h3::after {
    display: block;
    content: "";
    width: 100px;
    height: 1px;
    margin: 15px 0 0 auto;
    background: #fff;
}

.gift_guide .gg_box>div p {
    line-height: 1.4;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 200;
}

.gift_guide .gg_box>div a {
    display: inlne-block;
    padding: 5px 30px;
    border: 1px solid #fff;
    font-size: 15px;
    font-weight: 200;
    transition: 0.5s;
}

.gift_guide .gg_box>div a:hover {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

/* lesson_lab */
.lesson_lab {
    position: relative;
    padding-bottom: 100px;
}

.lesson_lab h2 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
}

.lesson_lab h2::after {
    display: block;
    content: "";
    height: 8px;
    width: 8px;
    background: #333;
    margin: 50px auto;
    border-radius: 50%;
}

.lesson_lab .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.lesson_lab .container figure {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.lesson_lab .container .lesson_txt {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.7s;
    text-align: center;
    background: rgba(51, 51, 51, 0.7);
    color: #fff;
}

.lesson_lab .container figure:hover .lesson_txt {
    opacity: 1;
}

.lesson_lab .container figure:hover img {
    transform: scale(1.3);
    transition: 0.7s;
}

.lesson_lab .container .lesson_txt p {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
}

.lesson_lab .container .lesson_txt p::after {
    display: block;
    content: "";
    width: 100px;
    height: 1px;
    background: #fff;
    margin: 10px auto 0 auto;
}

.lesson_lab .container .lesson_txt h3 {
    margin-bottom: 30px;
    font-size: 19px;
}

.lesson_lab .container .lesson_txt a {
    padding: 5px 30px;
    border: 1px solid #fff;
    transition: 0.5s;
    font-size: 13px;
    font-weight: 300;
}

.lesson_lab .container .lesson_txt a:hover {
    background: rgba(0, 0, 0, 0.6);
}

/* footer */
footer {
    padding: 50px 0;
    background: #333;
    color: #fff;
}

footer .container {
    display: flex;
    gap: 60px;
}

footer .container dl {
    flex: 1;
}

footer .container dt {
    font-size: 15px;
}

footer .container dt::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #fff;
    margin: 10px 0;
}

footer .container dd {
    font-size: 13px;
    font-weight: 200;
    padding: 8px 0;
}

footer .container figure {
    flex: 2;
}

footer .container figure img {
    padding: 20px 50px;
}

footer .container .sns i {
    margin-right: 5px;
    font-size: 17px;
}