@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    outline: 1px solid rgb(163, 206, 184);
    font-family: 'Pretendard-Regular';
    font-weight: 400;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* main_v */
.main_v {
    display: flex;
}

.m_right {
    flex: auto;
}

.gnb {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    color: #fff;
}

.gnb a {
    display: block;
}

.gnb>ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    letter-spacing: 2px;
}

.gnb>ul>li {
    font-size: 17px;
    padding: 0 50px;
}

.gnb>ul>li ul {
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 0;
    height: 100vh;
    overflow: hidden;
    color: #222;
    background: #f9f9f9;
    z-index: 999;
    transition: 0.5s;
}

.gnb>ul>li:hover ul {
    width: 350px;
}

.gnb>ul>li ul>li {
    padding: 0 30px;
}

header .top {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
}

header .top h1 {
    width: 150px;
    font-size: 0;
}

header .top .right {
    display: flex;
}

header .top .right ul {
    display: flex;
    gap: 30px;
    font-size: 15px;
    letter-spacing: 2px;
}

header .top .right input[type="text"] {
    outline: none;
    border: none;
    width: 150px;
    padding: 3px 0;
    margin-left: 30px;
}

header .top input[type="text"]::placeholder {
    border-bottom: 1px solid #333;
    padding: 5px 10px;
    font-size: 15px;
    letter-spacing: 2px;
}

header .top input[type="text"]:focus::placeholder {
    color: transparent;
}

header .top button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
}

.main_visual {
    position: relative;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .main_visual::before {
    content: "";
    background: url(../img/m_bg.jpg) center center/cover;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
} */

.main_visual .inner {
    /* position: relative; */
    display: flex;
    align-items: center;
    gap: 50px;
    color: #111;
}

.main_visual .inner .des {
    /* position: relative; */
}


.main_visual .inner .des>span {
    display: inline-block;
    margin: 0 0 30px 0;
    font-weight: 500;
}

.main_visual .inner .des>span::after {
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background: #111;
    margin: 5px 0 0 0;
}

.main_visual .inner h2 {
    margin: 0 0 30px 0;
    font-size: 50px;
    font-weight: 700;
    font-family: 'SBAggroB';

}

.main_visual .inner h2 span {
    margin: 10px 0 0 0;
    text-shadow: 0 0 1px #000;
    color: #fff;
    font-weight: 700;
    font-family: 'SBAggroB';
}

.main_visual .inner p {
    line-height: 1.4;
}

.main_visual .inner video {
    border-radius: 50% 50% 0 0;
}

.main_visual .inner video::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #111;
}

/* categories */
.categories {
    padding: 150px 0 100px 0;
}

.categories .container {
    display: flex;
    justify-content: space-between;
}

.categories figure {
    position: relative;
    width: 180px;
    border-radius: 50%;
    background: #f9f9f9;
    margin: 0 0 30px 0;
}

.categories figure::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 110%;
    height: 110%;
    border: 2px solid #ddd;
    border-radius: 50%;
    opacity: 0;
    transition: 0.5s;
}

.categories figure:hover::after {
    opacity: 1;
}

.categories .itm p {
    text-align: center;
    font-family: 'SBAggroB';
    font-size: 17px;
}

/* best */
.best {
    display: flex;
    margin: 0 0 0 60px;
    padding: 100px 0;
    overflow: hidden;
}

.best .left {
    width: 20%;
    margin: 0 100px 0 0;
}

.best .left .t_bg {
    position: relative;
    border-radius: 150px;
    background: #f1f1f1;
    width: 400px;
    height: 100%;
    transform: translateX(30px);
}

.best .left .t_bg::before {
    position: absolute;
    top: -10px;
    left: -30px;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 2px solid #111;
}

.best .left .txt {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translateY(-50%);
}

.best .left .txt h2 {
    font-family: 'SBAggroB';
    font-size: 50px;
    font-family: 100;
}

.best .left .txt h2:nth-child(2) {
    transform: translateX(45px);
}

.best .left .txt a {
    display: inline-block;
    margin: 30px 0 0 0;
    font-size: 17px;
    font-weight: 500;
}

.best .left .txt a::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #111;
    margin: 5px 0 0 0;
}

.best .b_slider {
    width: 80%;
    margin: 0 0 0 100px;
}

.best .b_slider figure {
    margin: 0 auto 30px auto;
    background: url(../img/best_itm_bg.png)no-repeat center center/contain;
    width: 300px;
}


.best .b_slider .des {
    text-align: center;
}

.best .b_slider .des h3 {
    margin: 0 0 25px 0;
    font-size: 19px;
    font-weight: 500;
}

.best .b_slider .des strong {
    display: inline-block;
    color: #999;
    margin: 0 0 10px 0;
    font-size: 17px;
    font-weight: 500;
}

.best .b_slider .des a {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
}

.best .b_slider .des .color span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px 30px 5px;
}

.best .b_slider .des .c_01 {
    background: #be7f90;
}

.best .b_slider .des .c_02 {
    background: #8e7e7f;
}

.best .b_slider .des a::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #111;
    margin: 8px 0 0 0;
}

/* col */
.col {
    padding: 70px 0 100px 0;
}

.col .container .top {
    margin: 0 0 150px 0;
}

.col .box {
    display: flex;
    gap: 60px;
}

.col .thumb figure {
    position: relative;
    width: 500px;
}

.col .thumb figure::after {
    position: absolute;
    top: -20px;
    left: 20px;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #333;
    border-radius: 0 35% 0 0;
}

.col .thumb img {
    border-radius: 0 35% 0 0;
}

.col .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.col .box .content .tit {
    margin: 0 0 80px 0;
}

.col .top .content .tit {
    text-align: end;
}

.col .content .tit h2 {
    margin: 0 0 30px 0;
    font-family: 'SBAggroB';
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 5px;
}

.col .content .tit h2 span {
    display: inline-block;
    margin: 10px 0 0 0;
    text-shadow: 0 0 1px #000;
    color: #fff;
    font-family: 'SBAggroB';
}

.col .content .tit a {
    font-size: 15px;
    font-weight: 500;
    color: #999;
    transition: 0.5s;
}

.col .content .tit a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #999;
    margin: 5px 0 0 0;
    transition: 0.5s;
}

.col .content .tit a:hover {
    color: #111;
}

.col .content .tit a:hover::after {
    background: #111;
}

.col .content .pick {
    position: relative;
}

.col .content .pick h3 {
    color: #333;
    margin: 0 0 15px 0;
    font-size: 25px;
    font-weight: 600;
}

.col .content .col_arrow {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999;
    font-size: 21px;
}

.col .content .a_L {
    margin: 0 0 0 -310px;
}

.col .content .a_R {
    margin: 0 0 0 310px;
}

.col .content .itm_slide figure {
    padding: 0 10px;
    text-align: center;
}

.col .content .itm_slide img {
    margin: 0 0 25px 0;
    background: #f9f9f9;
    border-radius: 30%;
}

.col .content .itm_slide p {
    margin: 0 0 10px 0;
    font-size: 17px;
    font-weight: 500;
}

.col .content .itm_slide strong {
    margin: 0 0 20px 0;
    display: block;
    color: #999;
}

.col .content .itm_slide .to_cart {
    display: block;
    color: #999;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    padding: 8px 0;
    margin: 0 0 20px 0;
    font-weight: 500;
    transition: 0.5s;
}


.col .content .itm_slide a:hover {
    color: #111;
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
}

.col .bt .thumb figure {
    transform: translateX(-22px);
}